body{
    background-color:#efdecd ;
   }
   #mySidenav a {
    position: absolute;
    left: -80px;
    transition: 0.3s;
    padding: 15px;
    width: 100px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 5px 5px 0;
   }
    
   #mySidenav a:hover {
    left: 0;
   }
    
   #snabba {
    top: 20px;
    background-color: #ffc1cc;
    
   }
    
   #familj {
    top: 80px;
    background-color: #5f9ea0;
   }
    
   #veg {
    top: 140px;
    background-color: #87a96b;
   }
    
   #helg {
    top: 200px;
    background-color: #483c32;
   }
    
   #mySidenav a {
    position: absolute;
    left: -80px; 
    transition: 0.3s; 
    padding: 15px;
    width: 100px;
    text-decoration: none; 
    font-size: 20px; 
    color: white;
    border-radius: 0 5px 5px 0;
   }
    
   #mySidenav a:hover {
    left: 0;
   }
    
    
    
   .div-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
    position: relative;
    
    }
    
   .slider-button {
    border: none;
    display: inline-block;
    padding: 3px 3px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: #faebd7;
    background-color: #3d2b1f;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%)
   }
    
   .slider-button:hover {
    color: thistle (176, 255, 169);
   }
    
   .display-left {
    left: 0%;
   }
    
   .display-right {
    right: 0%;
   }
    
    
   .popup {
    position: absolute;
    display: inline-block;
    cursor: pointer;
    }
    
    
   .popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #c0cbff;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
   }
    
    
   .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
    }
    
    
   .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
   }
    
   /* Add animation (fade in the popup) */
   @-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
   }
    
   @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
   }
    
    
    
   .fa {
    padding: 20px;
    font-size: 30px;
    width: 40px;
    text-align: center;
    text-decoration: none;
   }
    
    
   .fa:hover {
    opacity: 0.7;
   }
    
    
    
    
   .fa-facebook {
    background: #3B5998;
    color: white;
   }
    
    
   .fa-twitter {
    background: #55ACEE;
    color: white;
   }
    
    
    
    
   